{% extends 'layout.html' %}

{% block content %}
  <div id = "container">
	<div id = "calendar">
		<div id = "calendar-month-control">
			<div class = "calendar-nav-btn rounded">
				<
			</div>
			<div id = "calendar-month-display">
				{{display_calendar.month_text}}
			</div>
			<div class = "calendar-nav-btn rounded">
				>
			</div>
		</div>
		<div id = "calendar-grid">
			{% for day in display_calendar.days_of_week %}
				<div class = "date-row-item rounded">{{day}}</div>
			{% endfor %}
			{% for n in range(display_calendar.days) %}
				<div class = "clickable rounded">{{n + 1}}</div>
			{% endfor %}
		</div>
	</div>
  </div>
{% endblock %}
