/*
  Table of Contents
  
  * HTML Elements
  * Calendar control
    * Calendar month scroll
    * Calendar day grid
  * Media queries
*/

html {
  font-size: 15pt;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
}

#container { 
	display: grid;
	grid-template-columns: repeat(3, calc(95vw/3));
	margin: 0 auto;
}

/* Calendar control */

#calendar {
	width: 100%;
	margin: 0 auto;
	grid-column-start: 3;
}

/* Calendar month scroll */

#calendar-month-control {
	display: grid;
	/*grid-template-columns: repeat(7, calc(50vw / 7));*/
	grid-template-columns: repeat(7, calc(100% /7));
	grid-template-rows: 100%;
	text-align: center;
	align-items: center;
	margin-bottom: 1vh;
}

#calendar-month-display {
	grid-column: 2 / 7;
	font-size: 2rem;
	text-transform: uppercase;
}

/* Calendar day grid */

#calendar-grid {
	display: grid;
	grid-template-columns: repeat(7, calc(100% / 7));
	grid-template-rows: repeat(6, calc(100% / 6));
	text-align: center;
	align-items:center;
	/*grid-row-gap: 1vh;
	grid-column-gap: 1vw;*/
}

#calendar-grid div {
	display: grid;
	align-items: center;
	width: 100%;
	height: 100%;
}

#calendar-grid div:hover {
	background-color: #86F2B1;
	cursor: pointer;
}

/* General classes */

.rounded {
	border-radius: 20px;
}

.date-row-item {
	background-color: #FF4747;
	color: #ffffff;
	font-weight: 800;
}

/* Media Queries */

@media (width < 431px) {

	#container {
		grid-template-columns: 95vw;
	}

	#calendar{
		grid-column-start: 1;
	}	

}
